body{
    background-color: antiquewhite;
    padding: 50px 100px;
}
h1{
    text-align: center;
}
#container{
    text-align: center;
    background: #498080;
    box-shadow: 0px 0px 15px 3px rgba(44, 39, 39, 0.4);
    padding: 50px;
}
.input-div{
    display: inline-block;
}
.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
label{
    font-size: 22px;
    color: rgb(36, 35, 34);
}
